# Build artifacts
[Bb]in/
[Oo]bj/
build
output
.gradle
.tmp

# User-specific files
*.suo
*.user
*.sln.docstates
*.cache

# IDEs
/.idea/*.iml
/.idea/*.xml
/.idea/.idea.*/*.iml
/.idea/.idea.*/.idea/*.xml
.vs
_ReSharper*
_dotTrace*