<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="local" value="/Users/matt/.gradle/caches/modules-2/files-2.1/com.jetbrains.intellij.rider/riderRD/2021.2-SNAPSHOT/7ef91e4a09c7f7d212a6256174f063a6fb79cfde/riderRD-2021.2-SNAPSHOT/lib/DotNetSdkForRdPlugins" /> -->
  </packageSources>
</configuration>
