[submodule "src/submodules/Vulkan-Headers"]
	path = src/submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "src/submodules/SwiftShader"]
	path = src/submodules/SwiftShader
	url = https://github.com/google/swiftshader.git
[submodule "src/submodules/Vulkan-Loader"]
	path = src/submodules/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
