# Everything
*                       			@Perksey

# Maths
/src/Maths/             			@HurricanKai

# SilkTouch
/src/Core/Silk.NET.SilkTouch		@HurricanKai

# Build System
/build/nuke/                        @HurricanKai @Perksey
