<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Silk.NET Experimental Feed" value="https://dotnet.github.io/Silk.NET/nuget/experimental/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Silk.NET Experimental Feed">
      <package pattern="Silk.NET.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
