
  <header class="header-global">
    @if (Model.GetBool("HeadroomNav"))
    {
        <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-silk headroom">
        @Html.Partial("11-navcontent.cshtml")
        </nav>
    }
    else
    {
        <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-horizontal navbar-dark navbar-silk-fixed">
        @Html.Partial("11-navcontent.cshtml") 
        </nav>
    }
  </header>