---
{
    "TableOfContents": {
        "Name": "Blog",
        "Url": "index.html",
        "_comment": "Order the children newest (at the top) to oldest!",
        "Children": [
            { "Url": "::dec-2021/structure-chaining.md" },
            { "Url": "::nov-2021/xamarin-deprecation.md" },
            { "Url": "::mar-2021/dotnetfoundation.md" },
            { "Url": "::feb-2021/buildtools.md" },
            { "Url": "::jan-2021/silk20.md" },
            { "Url": "::dec-2020/silk20pre5.md" },
            { "Url": "::dec-2020/silk20pre4.md" },
            { "Url": "::nov-2020/silktouch-slots-vtables.md" },
            { "Url": "::nov-2020/silktouch-invokes-marshalling.md"},
            { "Url": "::nov-2020/silk20pre3.md" }
        ],
        "Metadata": {
            "theme.silk.blog": "true"
        }
    }
}
---

<h1>Blog</h1>

All the latest information &amp; announcements on Silk.NET, the Silk.NET Community, and more.

