/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

p {
  text-align: justify;
}


.heroBanner {
  padding: 4rem 0;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcaseContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.heroWords {
  width: 40%;
  align-content: center;
}

.heroWords h1 {
  background: linear-gradient(128.87deg,#512bd4 14.05%,#0b6cff 89.3%);
  background-clip: text;
  color: transparent;
}

[data-theme='dark'] .heroWords h1 {
  background: linear-gradient(128.87deg,#9780e5 14.05%,#53ceda 89.3%);
  background-clip: text;
  color: transparent;
}

@media (min-width:540px) {
  .heroWords h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .heroSubtitle {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
  }
}

@media (min-width:1248px) {
  .heroWords h1 {
    font-size: 4.25rem;
    line-height: 4.625rem;
  }

  .heroSubtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: none;
  }
}

.heroButtons {
    display: flex;
    flex-wrap: wrap;
}

.heroButtons a {
  margin-right: 1rem;
  margin-top: 1rem;
    flex-grow: 1;
}

@media (min-width: 720px) {
    .heroButtons a {
        flex-grow: unset;
    }
}

.silkDnfLogo {
  height: 48px;
}

[data-theme="dark"] .silkDnfLogo {
  filter: grayscale(1) invert(1) brightness(2);
}

.silkDnfText {
  display: flex;
  align-items: center;
}

.silkDnfText span {
  text-wrap: nowrap;
}

.silkDnfText img {
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.ytEmbed {
  width: 50%;
  aspect-ratio: 1.78;
  border-radius: 1rem;
}

.silkRhs {
  align-content: center;
  padding: 1.5rem 0 1.5rem 1.5rem;
  width: 50%;
}

.silkBtn {
  margin: 0.5rem 0.25rem 0;
}

.otherMoreDifferentSection {
  background: var(--ifm-color-emphasis-100);
  padding: 1.5rem;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
}

.carouselImage img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.otherMoreDifferentSection > div {
  width: 50%;
  align-content: center;
}

.technologiesSection {
    background: var(--ifm-color-emphasis-100);
    padding: 1.5rem;
    width: 100%;
    border-radius: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 720px) {
    .technologiesSection {
        grid-template-columns: repeat(2, 1fr);
    }
}

.technologiesSection > div {
    /*display: grid;*/
    /*grid-template-columns: subgrid;*/
    /*grid-template-rows: subgrid;*/
}

.technologiesSection > div > h1 {
    align-self: center;
}

.supportedIcons {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
  flex-wrap: wrap;
  gap: max(1.5rem, 5%);
}

.supportedIcon {
  width: max(5rem, 10%);
  min-width: 4rem;
  max-width: 8rem;
  height: auto;
  align-content: center;
  list-style: none;
}

.communityIcon {
  width: max(6rem, 10%);
  padding: 1.5rem;
  height: auto;
  align-content: center;
}

[data-theme='dark'] .invertOnDark {
  filter: invert(1);
}

.centerText {
  text-align: center;
}

.strideSection {
  background: linear-gradient(128.87deg,#d600aa 14.05%,#f65163 89.3%);
  padding: 1.5rem;
  width: 100%;
  border-radius: 2rem;
  color: white;
}

.strideSection h2 {
  color: white;
}

.homeContainer {
    margin: 2rem auto;
    max-width: 1140px;
    padding: 0 1rem;
    width: 100%;
}

.homeContainer > .homeRow {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1440px) {
    .homeContainer {
        max-width: 1320px;
    }
}

.contactUs {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.contactUs > p {
    text-align: center;
}

@media (min-width: 720px) {
    .contactUs {
        width: 50%;
    }
}
