---
{
  "HeadroomNav": true,
  "RawContent": true,
  "TableOfContents": {
    "Name": "Home",
    "Url": "index.html",
    "Children": [
        {
            "Url": "::docs/index.md"
        },
        {
            "Name": "FAQ",
            "Url": ">>docs/silk.net/faq.html"
        },
        {
            "Url": "::blog/index.cshtml"
        }
    ],
    "Metadata": {
        "_comment0": "Theme-global navbar URLs",
        "theme.silk.nav.discord": "https://discord.gg/DTHHXRt",
        "theme.silk.nav.github": "https://github.com/dotnet/Silk.NET",

        "_comment1": "Theme-global navbar config",
        "theme.silk.nav.btn": "btn btn-outline-primary",
        "theme.silk.nav.btn.txt": "Getting Started",
        "theme.silk.nav.btn.href": "docs/",
        "theme.silk.nav.img": "images/wordmark.svg",
        "theme.silk.nav.img.dark": "images/wordmarkw.svg",

        "_comment4": "Theme-global: show 'WIP' warnings everywhere!",
        "theme.silk.wip": "true",

        "_comment5": "Theme-global: footer configuration.",
        "theme.silk.footer.copyright": ".NET Foundation and Contributors",
        "theme.silk.footer.copyright.url": "https://dotnetfoundation.org",
        "theme.silk.footer.note": "Khronos®, Vulkan® are registered trademarks, and OpenXR™ is a trademark of The Khronos Group Inc. and is registered as a trademark in China, the European Union, Japan and the United Kingdom. OpenCL™, OpenGL®, and the OpenGL ES™ logos are registered trademarks or trademarks used under license by Khronos. Microsoft® and DirectX® are registered trademarks of Microsoft Corporation, used solely for identification. All other product names, trademarks, and/or company names are also used solely for identification and belong to their respective owners. Use of external images, trademarks, and/or resources are not endorsements, and no information in or regarding any of these external resources has been endorsed or approved by Silk.NET or the .NET Foundation.",

        "_comment6": "Theme-global: Comments section!",
        "theme.silk.giscus.repo": "dotnet/Silk.NET",
        "theme.silk.giscus.repo.id": "MDEwOlJlcG9zaXRvcnkxOTEyMzIyNDA=",
        "theme.silk.giscus.category": "Webpage Comments",
        "theme.silk.giscus.category.id": "DIC_kwDOC2X48M4CT__i"
    }
  }
} 
---


<div class="position-relative">
  <!-- shape Hero -->
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-dark">
      <span class="floating"></span>
      <span class="floating"></span>
      <span class="floating"></span>
      <span class="floating"></span>
      <span class="floating"></span>
      <span class="floating"></span>
      <span class="floating"></span>
      <span class="floating"></span>
      <span class="floating"></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3 silk-home-text">Your one-stop-shop for high performance .NET graphics &amp; compute.
            </h1>
            <p class="lead silk-home-text">Spruce up your games and applications with cross-platform 3D graphics, audio, compute and haptics. Fast. Free. Cross platform.</p>
            <div class="btn-wrapper">
              <a href="./docs/opengl" class="btn btn-primary btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="fas fa-code"></i></span>
                <span class="btn-inner--text">Getting Started</span>
              </a>
              <a href="https://github.com/dotnet/Silk.NET" class="btn btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                <span class="btn-inner--text">View on GitHub</span>
              </a>
            </div>
            <br />
            <p class="silk-home-text">
              Supported by
              <a href="https://dotnetfoundation.org">
                <img src="https://raw.githubusercontent.com/dotnet-foundation/swag/main/logo/dotnetfoundation_v4_horizontal_w.png" class="silk-dnf-logo silk-dark-only" />
                <img src="https://raw.githubusercontent.com/dotnet-foundation/swag/main/logo/dotnetfoundation_v4_horizontal.png" class="silk-dnf-logo silk-light-only" />
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" class="silk-light-only">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" class="silk-dark-only">
        <polygon fill="#3B4252" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- 1st Hero Variation -->
</div>
<section class="section section-lg pt-lg-0 mt--200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid silk-buzzcards">
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                  <i class="ni ni-cloud-download-95"></i>
                </div>
                <h6 class="text-primary text-uppercase">Up-to-date</h6>
                <p class="description mt-3">With an efficient bindings regeneration mechanism, we are committed to ensuring our bindings reflect the latest specifications with monthly updates generated straight from the upstream sources.</p>
                <div>
                  <span class="badge badge-pill badge-primary">consistent</span>
                  <span class="badge badge-pill badge-primary">reliable</span>
                  <span class="badge badge-pill badge-primary">predictable</span>
                </div>
                <a href="#" class="btn btn-primary mt-4">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                  <i class="ni ni-planet"></i>
                </div>
                <h6 class="text-success text-uppercase">High-level utilities</h6>
                <p class="description mt-3">In addition to providing high-speed, direct, and transparent bindings, we provide high-level utilities and wrappers to maximise productivity in common workloads such as platform-agnostic abstractions around Windowing and Input, bringing your apps to a vast number of platforms without changing a single line!</p>
                <div>
                  <span class="badge badge-pill badge-success">simple</span>
                  <span class="badge badge-pill badge-success">portable</span>
                  <span class="badge badge-pill badge-success">everywhere</span>
                </div>
                <a href="#" class="btn btn-success mt-4">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                  <i class="ni ni-spaceship"></i>
                </div>
                <h6 class="text-warning text-uppercase">Good-to-go</h6>
                <p class="description mt-3">Silk.NET caters for anything you could need in swift development of multimedia, graphics, compute applications. Silk.NET is an all-in-one solution, complete with Graphics, Compute, Audio, Input, and Windowing.</p>
                <div>
                  <span class="badge badge-pill badge-warning">swift</span>
                  <span class="badge badge-pill badge-warning">smooth</span>
                  <span class="badge badge-pill badge-warning">success</span>
                </div>
                <a href="#" class="btn btn-warning mt-4">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="images/xplatpromo.png" class="img-fluid floating">
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">
          <div class="icon icon-lg icon-shape icon-shape-info shadow rounded-circle mb-5">
            <i class="ni ni-settings-gear-65"></i>
          </div>
          <h3>An all-in-one solution.</h3>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-info mr-3">
                    <i class="ni ni-settings-gear-65"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">First-party bindings for over 17 individual APIs</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-info mr-3">
                    <i class="ni ni-mobile-button"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Official support for all major desktop &amp; mobile platforms</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-info mr-3">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Friendly &amp; active community &amp; developers</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-gradient-default">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-10">
        <h2 class="display-3 text-white">Reliable &amp; dependable.</h2>
      </div>
    </div>
    <div class="row row-grid mt-5">
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
          <i class="ni ni-bulb-61 text-primary"></i>
        </div>
        <h5 class="text-white mt-3">Strong backing.</h5>
        <p class="text-white mt-3">We're proud to be an official project under the benevolent .NET Foundation umbrella - an independent, non-profit organization established to support an innovative, commercially friendly, open-source ecosystem around the .NET platform with corporate sponsorship from Microsoft, Amazon AWS, and many others.
          
          <br />
          <br />
          
          This means you can count on us not disappearing tomorrow, and continuing to reamin under steady development; a guarantee that similar libraries just can't provide.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
          <i class="ni ni-atom text-primary"></i>
        </div>
        <h5 class="text-white mt-3">Continuously improving.</h5>
        <p class="text-white mt-3">We're quick to develop and release new major versions for keeping up with changes and new trends in the ecosystem. In addition, we're keen to create infrastructure to make minor incremental improvments easy to implement.<br /><br />We're happy to look at any idea the community has for us, large or small, so feel free to chat to us if you think there's a way we can improve!</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
          <i class="ni ni-favourite-28 text-primary"></i>
        </div>
        <h5 class="text-white mt-3">Free &amp; open.</h5>
        <p class="text-white mt-3">Silk.NET is licensed under the very permissive MIT/X11 license, which means that you can use Silk.NET in your commercial, non-commercial, hobby, or just about any other kind of project.<br /><br />We offer no commercial support, which means that everyone has equal access to the best support the Silk.NET team can provide. And last but not least, we have a thriving, friendly, and approachable community who, if we're unable to for whatever reason, are happy to guide you in using our library.</p>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" class="silk-light-only">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" class="silk-dark-only">
      <polygon fill="#3B4252" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<section class="section section-lg">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Ready for anything.</h2>
        <p class="lead">Silk.NET provides a plethora of bindings to accomodate just about any multimedia, graphics, and compute workload you could possibly throw at it.</p>
        <div class="text-center">
          <h4 class="display-4 mb-5 mt-5">Supported technologies</h4>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-4">
              <a href="https://www.khronos.org/opengl/" target="_blank" data-toggle="tooltip" data-original-title="OpenGL">
                <img src="images/opengl.jpg" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://www.khronos.org/opengles/" target="_blank" data-toggle="tooltip" data-original-title="OpenGLES">
                <img src="images/opengles.png" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://www.khronos.org/vulkan/" target="_blank" data-toggle="tooltip" data-original-title="Vulkan">
                <img src="images/vulkan.svg" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://www.khronos.org/openxr/" target="_blank" data-toggle="tooltip" data-original-title="OpenXR">
                <img src="images/openxr.svg" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://www.khronos.org/opencl/" target="_blank" data-toggle="tooltip" data-original-title="OpenCL">
                <img src="images/opencl.svg" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://openal.org" target="_blank" data-toggle="tooltip" data-original-title="OpenAL">
                <img src="images/openal.png" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://libsdl.org" target="_blank" data-toggle="tooltip" data-original-title="SDL">
                <img src="images/sdl.png" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://glfw.org" target="_blank" data-toggle="tooltip" data-original-title="GLFW">
                <img src="images/glfw.png" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://docs.microsoft.com/en-us/windows/win32/direct3d12/directx-12-programming-guide" target="_blank" data-toggle="tooltip" data-original-title="DirectX 12 Ultimate">
                <img src="images/dx12ultimate.png" class="silk-supported-logo">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://github.com/assimp/" target="_blank" data-toggle="tooltip" data-original-title="Open Asset Importer (Assimp)">
                <img src="images/assimp.png" class="silk-supported-logo">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-0">
  <div class="container text-lg-center">
    <h3 class="text-primary font-weight-light mb-2">Join the Conversation!</h3>
    <h4 class="mb-0 font-weight-light">Talk to us on Discord or GitHub Discussions.</h4>
    <br />
    <div class="text-lg-center btn-wrapper">
      <a target="_blank" href="https://discord.gg/DTHHXRt" class="btn btn-neutral btn-icon-only btn-discord btn-round" data-toggle="tooltip" data-original-title="Chat on Discord">
        <i class="fab fa-discord"></i>
      </a>
      <a target="_blank" href="https://github.com/dotnet/Silk.NET/discussions" class="btn btn-neutral btn-icon-only btn-github btn-round" data-toggle="tooltip" data-original-title="Discuss on Github">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</section>
<section class="section pt-0">
  <div class="container">
    <div class="card shadow-lg border-0">
      <div class="p-5">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <h3 class="text-danger">Not your cup of tea? Try Stride.</h3>
            <p class="text-default mt-3 mb-0">Silk.NET is low-level and empowers the developer with complete control over rendering. Because of this, we understand Silk.NET isn't for everyone. If you fancy something more high-level, give Stride a shot! Stride is a 2D &amp; 3D game engine supported by the .NET Foundation.</p>
          </div>
          <div class="col-lg-3 ml-lg-auto text-center">
            <img src="images/stride.svg" height="48" alt="Stride logo" class="silk-invert-dark" />
            <br />
            <br />
            <a href="https://stride3d.net/" class="btn btn-lg btn-block btn-white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
