###############################################################################
# Default owner for all files in the repository
###############################################################################
*           @$Username
