name: Bindings Regeneration

on:
  schedule:
    - cron: '0 0 * * Fri'
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-quick

    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.PUSHABLE_GITHUB_TOKEN }}
    - name: Checkout submodules, configure git.
      run: |
          git -c submodule.third_party/git-hooks.update=none submodule update --init --recursive
          git config --local user.email "9011267+dotnet-bot@users.noreply.github.com"
          git config --local user.name "The Silk.NET Automaton"
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.302
    - name: Setup Java JDK 11
      uses: actions/setup-java@v2.3.0
      with:
        java-version: 11
        distribution: "temurin"
    - name: Setup .NET 7.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.102
    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.201
    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.201
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.404
    - name: Setup NUKE
      run: dotnet tool install Nuke.GlobalTool --global
    - name: Install Workloads
      # TODO: This is slow. Maybe we can make a docker container with this already done?
      run: dotnet workload install android ios maccatalyst maui
    - uses: GuillaumeFalourd/setup-windows10-sdk-action@v1.9
      name: Setup Windows 11 SDK
      with:
        sdk-version: 22621
    - name: Run a full run of BuildTools
      run: ./build.cmd regenerate-bindings --create-bindings-pr
      env:
        PUSHABLE_GITHUB_TOKEN: ${{ secrets.PUSHABLE_GITHUB_TOKEN }}
