name: Public API
on:
    push:
        branches:
            - "**"
    create:
        tags:
            - "**"
    pull_request_target:
permissions:
    issues: write
    pull-requests: write
jobs:
    Check:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/checkout@v2
              name: Checkout PR
              if: ${{ github.repository == 'dotnet/Silk.NET' && github.event_name == 'pull_request_target' }}
              with:
                  repository: ${{ github.event.pull_request.head.repo.full_name }}
                  path: inbound_pr
                  ref: ${{ github.event.pull_request.head.ref }}
            - uses: actions/checkout@v2
              name: Checkout branch
              if: ${{ github.repository == 'dotnet/Silk.NET' && github.event_name != 'pull_request_target' }}
              with:
                  path: inbound_pr
            - name: Cache .tmp, ~/.nuget/packages
              uses: actions/cache@v2
              with:
                  path: |
                      .tmp
                      ~/.nuget/packages
                  key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj') }}
            - name: Setup .NET 6.0 and .NET 7.0
              uses: actions/setup-dotnet@v3.0.3
              with:
                  dotnet-version: |
                    6.0.201
                    7.0.*
            - name: Install Workloads for Restore
              # TODO: This is slow. Maybe we can make a docker container with this already done?
              run: dotnet workload install android ios maccatalyst
            - name: Ensure Public API Declared
              run: ./build.sh EnsureApiDeclared
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    Ship:
        if: ${{ github.repository == 'dotnet/Silk.NET' && github.event_name == 'create' }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.PUSHABLE_GITHUB_TOKEN }}
            - name: Configure git
              run: |
                  git config --local user.email "9011267+dotnet-bot@users.noreply.github.com"
                  git config --local user.name "The Silk.NET Automaton" 
            - name: Cache .tmp, ~/.nuget/packages
              uses: actions/cache@v2
              with:
                  path: |
                      .tmp
                      ~/.nuget/packages
                  key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj') }}
            - name: Setup .NET 6.0 and .NET 7.0
              uses: actions/setup-dotnet@v3.0.3
              with:
                  dotnet-version: |
                    6.0.201
                    7.0.* 
            - name: Ship Public API
              run: ./build.sh ShipApi
              env:
                  PUSHABLE_GITHUB_TOKEN: ${{ secrets.PUSHABLE_GITHUB_TOKEN }}
