name: SwiftShader
on:
  push:
    paths:
      - build/submodules/SwiftShader
      - build/nuke/Native/Core.cs
      - build/nuke/Native/SwiftShader.cs
      - .github/workflows/swiftshader.yml
    branches-ignore:
      - "ci/*"
      - "develop/*"
      - "main"
jobs:
  Build:
    if: github.repository == 'dotnet/Silk.NET'
    strategy:
      fail-fast: false
      matrix:
        env:
          - os: ubuntu-latest
            name: Linux
            nuke_invoke: ./build.sh
            extras: |
              sudo dpkg --add-architecture arm64
              sudo dpkg --add-architecture armhf
              sudo apt update
              sudo apt install -y gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf
              sudo apt install -y g++-aarch64-linux-gnu g++-arm-linux-gnueabihf
              for arch in amd64 arm64 armhf; do
                sudo apt install -y libx11-xcb-dev:$arch
              done
          - os: windows-latest
            name: Windows
            nuke_invoke: ./build.cmd
            extras: ""
          - os: macos-latest
            name: Darwin
            nuke_invoke: ./build.sh
            extras: ""
    name: ${{ matrix.env.name }} Build
    runs-on: ${{ matrix.env.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PUSHABLE_GITHUB_TOKEN }}
      - name: Checkout submodules, configure git
        run: |
          git -c submodule.third_party/git-hooks.update=none submodule update --init --recursive --depth 0 build/submodules/SwiftShader
          git config --local user.email "9011267+dotnet-bot@users.noreply.github.com"
          git config --local user.name "The Silk.NET Automaton"
      - name: Extra prerequisites
        run: |
          echo running extras
          ${{ matrix.env.extras }}
      - name: Cache .tmp, ~/.nuget/packages
        uses: actions/cache@v2
        with:
          path: |
            .tmp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj') }}
      - name: Setup .NET 6.0 and .NET 7.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            6.0.201
            7.0.*
      - name: Build SwiftShader
        run: ${{ matrix.env.nuke_invoke }} SwiftShader
        env:
          PUSHABLE_GITHUB_TOKEN: ${{ secrets.PUSHABLE_GITHUB_TOKEN }}
